.form__profile {
padding-top: 80px;
}

@media screen and (min-width: 768px) {
    .form__profile {
        padding-top: 96px;
    }}

@media screen and (min-width: 768px) {
.auth__wrapper_profile{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 236px;
}}

@media screen and (min-width: 1280px) {
    .auth__wrapper_profile{

        padding-top: 74px;
    }}

.form__profile-text-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid;
    border-color:  #424242;

}

.form__profile-text-wrapper_email {
    padding-bottom:0;
    border: none;
}

.form__profile-text {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
}

.form__input_profile{
   background: #202020;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    margin-top: 20px;
    text-align:right;
}

@media screen and (min-width: 768px) {
    .form__input_profile{
        width: 400px;
    }}

@media screen and (min-width: 1280px) {
    .form__input_profile{
        width: 410px;
    }}

.auth__link-wrapper_profile {
    display: flex;
    flex-direction: column;
    padding-top: 379px;
}

@media screen and (min-width: 768px) {
    .auth__link-wrapper_profile{
        padding-top: 210px;
    }}

@media screen and (min-width: 768px) {
    .auth__link-wrapper_profile{
        padding-top: 220px;
    }}


.auth__link_red {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #EE3465;
    margin: 0;
    padding-top: 16px;
}

.auth__link_white {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
    background: none;
    border: none;
}
.auth__link_white:hover {
    cursor: pointer;
    opacity: 0.5;
}
.auth__link_red:hover {
    cursor: pointer;
    opacity: 0.5;
}
.auth__link_disabled{
    color: #e5e5e5;
}