.movies-more__button-wrapper {
    display: flex;
    justify-content: center;

    padding: 50px 10px 80px 10px;
}

@media screen and (min-width: 768px) {
    .movies-more__button-wrapper{
        padding-right: 30px;
        padding-left: 30px;

    }
}
@media screen and (min-width: 1280px) {
    .movies-more__button-wrapper{
        padding-right: 70px;
        padding-left: 70px;

    }
}


.movies-more__button {
    background: #202020;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    width: 240px;
    height: 36px;
    border-color:#424242;
    border-style: solid;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.movies-more__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .movies-more__button {
        width: 320px;
    }
}
