.portfolio {
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 70px;
}

@media screen and (min-width: 768px) {
    .portfolio {
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 90px;

    }
}


@media screen and (min-width: 1280px) {
    .portfolio {
        padding-right: 70px;
        padding-left: 70px;
        padding-bottom: 125px;

    }
}


.portfolio__text {
    margin: 0;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #A0A0A0;
}

@media screen and (min-width: 768px) {
    .portfolio__text  {
        padding-bottom: 30px;
        font-size: 18px;
        line-height: 20px;

    }
}


.portfolio__links {
    padding-top: 30px;
    padding-left: 0;
    list-style: none;
    margin: 0;

}

.portfolio__list{
    padding-top: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid;
    border-color: #E6E6E6;
    position: relative;
}

@media screen and (min-width: 1280px) {
    .portfolio__list{
        border-color: #424242;
    }
}
.portfolio__list:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}

.portfolio__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    transition: opacity 0.3s ease;


}
.portfolio__link:hover {
    opacity: 0.8;
    cursor: pointer;
}
.portfolio__link::after {
    position: absolute;
    right: 0;
    content: url("../../images/portfolio_arrow.svg");
}

@media screen and (min-width: 768px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 50px;

    }
}
