.search{
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #424242;
    margin-right: 10px;
    margin-left: 10px;
}


@media screen and (min-width: 768px) {
    .search{
        margin-right: 30px;
        margin-left: 30px;

    }
}
@media screen and (min-width: 1280px) {
    .search{
       margin-right: 70px;
        margin-left: 70px;

    }
}


.search-form {
    width: 300px;
    height: 72px;
   background: #222222;
    border: 0px;
    border-radius: 9px;
    margin-top: 80px;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
position: relative;

}

.search-form__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
   margin-left: 19px;
    color: #8B8B8B;
    background: #222222;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border: 0px;
    position: absolute;
    top:25px;
    bottom: 25px;
    width: 250px;

}

.search-form__button {
    background-image: url(../../images/search_find.svg);
    width: 34px;
    height: 34px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;

    position: absolute;
    top:19px;
    bottom: 19px;
    right: 19px;
}


.search__switch-wrapper{
   display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 45px;
}

.search__switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 14px;
    margin-top: 2px;
}

.search__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}


.search__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #303030;
    transition: .4s;
}

.search__slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px;
    top: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.search__checkbox:checked + .search__slider {
    background-color: #3DDC84;
}


.search__checkbox:checked + .search__slider:before {
    transform: translateX(21px);
}


.search__text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    margin: 0;
    padding-left: 14px;
}
