.popup_info {
    background-color: rgba(0, 0, 0, 0.9);
}

.popup__window_info {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;

}


.popup__image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup__info-image{
    align-self: center;
}

.popup__info-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
    text-align: center;
}