.techs {
    background-color: #272727;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 70px;
}


@media screen and (min-width: 768px) {
    .techs {
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 90px;

    }
}


@media screen and (min-width: 1280px) {
    .techs{
        padding-right: 70px;
        padding-left: 70px;
        padding-bottom: 100px;

    }
}


.techs__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 28px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .techs__heading {
        font-size: 22px;
        line-height: 27px;
        padding-top: 90px;
        padding-bottom: 23px;
    }
}

@media screen and (min-width: 1280px) {
    .techs__heading {
        padding-top: 100px;
    }
}

.techs__text-wrapper {
    border-top: 1px solid;
    border-color: #DADADA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.techs__title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 24px;

}

@media screen and (min-width: 768px) {
    .techs__title {
        font-size: 50px;
        line-height: 58px;
        padding-top: 80px;
        padding-bottom: 22px;
    }
}

@media screen and (min-width: 1280px) {
    .techs__title {
        padding-top: 90px;
        padding-bottom: 26px;
    }
}


.techs__text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .techs__text {
        font-size: 12px;
        line-height: 18px;
        width: 460px;
        padding-bottom: 83px;
    }
}

@media screen and (min-width: 768px) {
    .techs__text {

        padding-bottom: 100px;
    }
}

.techs__teg-wrapper {
    padding-left: 53px;
    padding-right: 53px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

@media screen and (min-width: 768px) {
    .techs__teg-wrapper {
        padding-left: 0;
        padding-right:0;
      display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1280px) {
    .techs__teg-wrapper {
        padding-left: 225px;
        padding-right: 225px;

    }
}


.techs__teg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FFFFFF;
    background-color: #303030;
    border-radius: 10px;
    width: 84px;
    height: 57px;
    margin: 0;

}